<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">

<div>
   <md-toolbar color="primary">
    Fűnyíró
  </md-toolbar>

<!-- <input placeholder="Add shopping items here" ng-model="addMe" class="w3-input w3-border w3-padding">
  <button ng-click="addItem()" class="w3-btn w3-padding w3-green">Add</button> -->

    <md-card>
      <button md-raised-button md-tooltip="Elemek rendezése">Rendezés</button>
      Elemek száma: 470 / 800
    </md-card>

    <md-card>
      Szűrők <br>

      <md-input placeholder="szűrés névre"></md-input>
      <br>
      ... <br><br>
      <md-checkbox>check</md-checkbox> <br> <!-- Ebből néhány -->
      <md-slider ng-model="myValue" min="5" max="500"></md-slider> <!-- ebből is néhány -->
    </md-card>

    <md-card>
      Fűnyírólista <br>
      Ez egy fűnyíró
    </md-card>

    <md-card>
        Készítette: RookieDev Team
    </md-card>

</div>